.container{
    margin-left: 150px;
}

.menu{
    float: right;
    width: 150px;
    height: 30px;
    margin-right: 150px;
}

/* jumbotron */
.jumbotron{
  background-image: url(gambar/C_carfromjapancomjp\ 1548043608.jpg);
  background-size: cover;
  height: 440;
  color: white;
}

.card-body{
  display: inline-block;
}